html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #444;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    min-height: 100%;
}

@media only screen and (max-width: 1000px) {
    #container {
        max-width: 100%;
    }
}

a, a:visited {
    color: #31b9ea;
    text-decoration: none;
}

a:hover,a:focus {
    color: #872624;
}

p {
    margin: 10px 0;
}

li {
    margin: 10px 0;
}

@media only screen and (max-width: 1000px) { 
    p, li {
        margin: 20px 0;
    }
}

/* // MASTHEAD ///////////////////////////////////////////////////////////////*/

#masthead {
    padding: 10px;
    background-color: #444;
    color: white;
}

@media only screen and (max-width: 1000px) { 
    #masthead {
        padding-bottom: 40px;
    }
}

/* // TITLES /////////////////////////////////////////////////////////////////*/

#masthead h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}

@media only screen and (max-width: 1000px) { 
    #masthead h1 {
        font-size: 64px;
        margin-bottom: 20px;
    }
}

#masthead h1 a {
    color: white;
}

#masthead .site-logo {
    margin: 0 auto 10px;
    display: block;
    height: 100px;
}

#masthead .subheading {
    text-align: center;
    font-size: 14px;
    margin: 0 auto 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

@media only screen and (max-width: 1000px) { 
    #masthead .subheading {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

/* // HOSTS //////////////////////////////////////////////////////////////////*/

.hosts {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 40px;
}

.hosts h2 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    pointer-events: none;
}

.hosts .brother {
    width: 50%;
    float: left;
    vertical-align: top;
}

.brother .portrait {
    width: 86px;
    border: solid 5px white;
}

.brother h3 {
    margin: 0;
    text-transform: uppercase;
}

.brother p {
    margin: 0;
}

.brother.conrad {
    text-align: left;
}

.brother.kyle {
    text-align: right;
}

.brother.conrad .portrait {
    display: block;
    float: left;
    margin-right: 10px;
}

.brother.conrad .info {
    display: inline-block;
    vertical-align: top;
}

.brother.kyle .portrait {
    display: block;
    float: right;
    margin-left: 10px;
}

.brother.kyle .info {
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 1000px) { 
    .hosts h2 {
        position: relative;
        width: auto;
    }

    .hosts .brother.conrad,
    .hosts .brother.kyle {
        text-align: left;
        float: left;
        width: calc(50% - 20px);
        margin: 0 0 20px 20px;
    }

    .hosts .brother.conrad .portrait,
    .hosts .brother.kyle .portrait {
        float: none;
        display: inline-block;
        width: 118px;
    }

    .hosts .brother.conrad .info,
    .hosts .brother.kyle .info {
        font-size: 24px;
    }

    .hosts .brother.kyle {
        text-align: right;
        width: calc(50% - 20px);
        margin: 0 0 20px 20px;
    }

    .hosts .brother.conrad .portrait {
        margin-right: 20px;
    }

    .hosts .brother.kyle .portrait {
        float: right;
        margin: 0 20px;
    }
}

/* // SOCIAL /////////////////////////////////////////////////////////////////*/

.social {
    text-align: center;
}

.social .icon img {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.social .icon.icon-notlast img {
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) { 
    .social .icon img {
        width: 72px;
        height: 72px;
    }

    .social .icon.icon-notlast img {
        margin-right: 40px;
    }
}

/* // CONTENT ////////////////////////////////////////////////////////////////*/

#content .capsule {
    padding: 20px;
}

#content .capsule .banner {
    max-width: 100%;
}

.capsule h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.capsule h3 {
    text-transform: uppercase;
}

.capsule h2 a {
    color: #444;
}

.capsule .date {
    margin: 0 0 5px;
    font-size: 14px;
    font-style: italic;
}

.capsule .banner {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
}

.capsule ul {
    padding-left: 20px;
}

/* // Player /////////////////////////////////////////////////////////////////*/

.player iframe {
    height: 50px;
    width: 100%;
    margin: 0 0 10px;
    border: none;
}

.player .download {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.player .download img,
.player .itunes img {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 5px;
}

.player .dot {
    color: #31b9ea;
    padding: 0 0.5em;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {

    .player iframe {
        margin-bottom: 20px;
    }

    .player .download, .player .download:visited {
        display: block;
        color: white;
        background-color: #31b9ea;
        border-radius: 10px;
        margin: 0 0 20px;
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
    }

    .player .dot {
        display: none;
    }
}

/* // Footer /////////////////////////////////////////////////////////////////*/

#siteinfo {
    padding: 10px;
    background-color: #444;
    color: white;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
}

#siteinfo .copyright {
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
}