html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #444;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    min-height: 100%;
}

@media only screen and (max-width: 1000px) {
    #container {
        max-width: 100%;
    }
}

a, a:visited {
    color: #31b9ea;
    text-decoration: none;
}

a:hover,a:focus {
    /*color: #872624;*/
    color: black;
}

.icon-item a:hover img,
#siteinfo .social a:hover img {
   filter: grayscale(var(--value, 100%)) brightness(0);
}

p {
    margin: 1.5em 0;
}

li {
    margin: 10px 0;
}

@media only screen and (max-width: 1000px) { 
    p, li {
        margin: 20px 0;
    }
}

a.direct-link {
    opacity: 0;
}

/* // MASTHEAD ///////////////////////////////////////////////////////////////*/

#masthead {
    padding: 10px 20px;
    background-color: #444;
    color: white;
}

@media only screen and (max-width: 1000px) { 
    #masthead {
        padding-bottom: 0;
    }
}

/* // TITLES /////////////////////////////////////////////////////////////////*/

#masthead h1 {
    text-transform: uppercase;
    /*text-align: center;*/
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
}

@media only screen and (max-width: 1000px) { 
    #masthead h1 .menu-logo {
        display: inline-block;
        padding: 0;
    }

    #masthead h1 {
        font-size: 44px;
        line-height: 1.2em;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
        display: block;
    }
}

#masthead .main-nav-wrapper {
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    margin: 5px 0 20px;
}

#masthead h1 a {
    color: white;
}

#masthead .site-logo {
    margin: 0 auto 10px;
    display: block;
    height: 100px;
}

#masthead .subheading {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.main-menu {
    list-style-type: none;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.main-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
    color: #31b9ea;
}

.main-menu li.bullet-after {
    padding-right: 5px;
}

.main-menu li.bullet-after:after {
    padding-left: 10px;
    content: '•';
}

.main-menu li.icon-item {
    padding-right: 10px;
}

#masthead .menu-logo {
    display: inline-block;
}

#masthead .menu-logo img {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -11px;
}

.main-menu li .icon img {
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
}

@media only screen and (max-width: 1000px) { 
    #masthead .subheading {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    #masthead .main-nav-wrapper {
        padding: 10px 0 20px;
        border-top: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .main-menu {
        margin-top: 20px;
        margin-bottom: 0px;
        display: block;
        text-align: center;
        font-size: 24px;
    }

    .main-menu li {
        line-height: 1.2em;
    }

    .main-menu li.bullet-after + li.bullet-after {
        padding-right: 0;
    }

    .main-menu li.bullet-after + li.bullet-after:after {
        padding-left: 0;
        content: '';
    }

    .main-menu li.icon-item {
        padding-right: 10px;
        display: none;
    }

    .main-menu li .icon img {
        height: 38px;
        margin-top: -8px;
    }
}

/* // HOSTS //////////////////////////////////////////////////////////////////*/

.hosts {
    position: relative;
    margin-top: 20px;
    overflow: auto;
}

.hosts h2 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    pointer-events: none;
    font-size: 16px;
}

.hosts .brother {
    width: 50%;
    float: left;
    vertical-align: top;
}

.brother .portrait {
    width: 64px;
    border: solid 5px white;
}

.brother h3 {
    margin: 0;
    text-transform: uppercase;
}

.brother p {
    margin: 0;
}

.brother.conrad {
    text-align: left;
}

.brother.kyle {
    text-align: right;
}

.brother.conrad .portrait {
    display: block;
    float: left;
    margin-right: 10px;
}

.brother.conrad .info {
    display: inline-block;
    vertical-align: top;
}

.brother.kyle .portrait {
    display: block;
    float: right;
    margin-left: 10px;
}

.brother.kyle .info {
    display: inline-block;
    vertical-align: top;
}

.capsule .hosts {
    margin-top: 10px;
}

.capsule .hosts .brother {
    margin-bottom: 10px;
}

.capsule .brother .portrait {
    border: solid 5px #444;
    background: #444;
}

.capsule .hosts h2 {
    font-size: 20px;
}

@media only screen and (max-width: 1000px) { 

    .hosts {
        margin-top: 20px;
    }

    .hosts h2 {
        position: relative;
        width: auto;
        margin-bottom: 20px;
    }

    .hosts .brother.conrad,
    .hosts .brother.kyle {
        text-align: left;
        float: left;
        width: 50%;
        margin: 0 0 20px;
    }

    .hosts .brother.conrad .portrait,
    .hosts .brother.kyle .portrait {
        float: none;
        display: block;
        width: 60px;
        margin-bottom: 10px;
    }

    .hosts .brother.conrad .info,
    .hosts .brother.kyle .info {
        font-size: 12px;
    }

    .hosts .brother.conrad .info p,
    .hosts .brother.kyle .info p {
        display: none;
    }

    .hosts .brother.kyle {
        text-align: right;
        margin: 0 0 20px;
    }

    .hosts .brother.conrad .portrait {
        margin-right: 0;
    }

    .hosts .brother.kyle .portrait {
        margin: 0 0 5px 0;
        text-align: right;
        display: inline-block;
    }

    .hosts .brother.kyle .info {
        display: block;
    }
}

/* // SOCIAL /////////////////////////////////////////////////////////////////*/

.social {
    text-align: center;
    clear: both;
    padding-top: 10px;
}

.social .icon img {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.social .icon.icon-notlast img {
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) { 
    .social .icon img {
        width: 48px;
        height: 48px;
    }

    .social .icon.icon-notlast img {
        margin-right: 15px;
    }

    #siteinfo .social {
        padding: 0;
        margin: 20px 0;
    }
}

/* // CONTENT ////////////////////////////////////////////////////////////////*/

#content .capsule {
    padding: 20px;
}

@media only screen and (max-width: 1000px) {
    #content .capsule {
        padding: 20px;
    }
}

#content .capsule .banner {
    max-width: 100%;
}

.capsule h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.capsule h3 {
    text-transform: uppercase;
}

.capsule h2 a {
    color: #444;
}

.capsule h2 a:hover,
.capsule h2 a:focus {
    color: black;
}

.capsule .date {
    margin: 0 0 5px;
    font-size: 14px;
    font-style: italic;
}

.capsule .banner {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
}

.capsule ul {
    padding-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .capsule ul {
        padding-left: 40px;
    }
}

.capsule .blog-social {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    clear: both;
    background-color: #444;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0.5em 0;
}         

.capsule .pod-nav {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
    display: block;
}

.capsule .pod-nav li {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 0;
    vertical-align: top;
}

.capsule .pod-nav li + li {
    margin-left: 20px;
}

.capsule .pod-nav li a {
    display: inline-block;
    background: #31b9ea;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.capsule .pod-nav li a:hover,
.capsule .pod-nav li a:focus {
    background: black;
    color: white;
}

#content article.capsule .pod-nav li:only-child {
    display: block;
    width: 100%;
}

#content article.capsule .pod-nav li a {
    padding: 10px 0;
}

#content.homepage #show-notes,
#content.homepage #show-notes + ul {
    display: none;
}

@media only screen and (max-width: 1000px) {

    .capsule .pod-nav li {
        display: block;
        width: 100%;
    }

    .capsule .pod-nav li + li {
        margin-top: 20px;
        margin-left: 0;
    }

    #content article.capsule .pod-nav li a {
        font-size: 24px;
        padding: 20px;
        width: calc(100% - 40px);
    }
}

@media only screen and (min-width: 1001px) {
    
    #content.homepage article.capsule .banner {
        max-width: 380px;
        margin: 0 20px 10px 0;
        display: inline-block;
        float: left;
    }

    #content.homepage article.capsule .banner + p {
        vertical-align: top;
        margin: 0 0 1.5em;
    }

    /*#content.homepage article.capsule .pod-nav li {
        display: block;
        width: 100%;
    }

    #content.homepage article.capsule .pod-nav li a {
        padding: 10px 0;
    }*/

}

/* // Preview ////////////////////////////////////////////////////////////////*/

#content .preview {
    padding: 0 20px 0;
    overflow: auto;
}

.preview h2 {
    font-size: 26px;
    text-transform: uppercase;
    border-top: solid 3px #444;
    padding-top: 20px;
    margin: 0 0 10px;
}

.preview h3 {
    font-size: 14px;
    margin: 10px 0;
    font-weight: normal;
}

.preview h3 + h3 {
    margin-bottom: 20px;
}

.preview h3 strong {
    text-transform: uppercase;
}

#content .preview .banner {
    max-width: 100%;
}

.preview .banner {
    width: 100%;
    display: block;
    margin: 0 auto 10px;
}

#content.homepage article.preview .banner + p {
    margin-top: 0;
}

@media only screen and (min-width: 1001px) {
    #content.homepage article.preview .banner { 
        max-width: 380px;
        margin: 0 0 10px 20px;
        display: inline-block;
        float: right;    
    }
}

@media only screen and (max-width: 1000px) {
    .preview h2 {
        margin-top: 20px;
        padding-top: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    #content .preview {
        padding: 40px;
    }
}

/* // Player /////////////////////////////////////////////////////////////////*/

.player iframe {
    height: 50px;
    width: 100%;
    margin: 0 0 10px;
    border: none;
}

.player .download {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.player .download-wrapper {
    border-bottom: solid 2px #31b9ea;
    border-top: solid 2px #31b9ea;
    padding-top: 5px;
    padding-bottom: 5px;
}

.homepage .player .download-wrapper {
    margin-bottom: 1rem;
}

.player .download img,
.player .itunes img {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 5px;
}

.player .dot {
    color: #31b9ea;
    padding: 0 0.5em;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {

    .player iframe {
        margin-bottom: 20px;
    }

    .player .download-wrapper {
        border-top: none;
        border-bottom: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .player .download, 
    .player .download:visited {
        display: block;
        color: white;
        background-color: #31b9ea;
        border-radius: 5px;
        text-align: center;
        padding: 20px;
        padding-bottom: 16px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
    }

    .player .download:hover,
    .player .download:focus {
        background-color: black;
    }

    .player .dot {
        display: none;
    }

    .player .download img {
        display: none;
    }
}

/* // Footer /////////////////////////////////////////////////////////////////*/

#siteinfo {
    padding: 10px;
    background-color: #444;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

#siteinfo .copyright {
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
}

#siteinfo .copyright.episodes {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {

    #siteinfo {
        padding-bottom: 20px;
    }

    #siteinfo .copyright.episodes {
        padding-top: 20px;
    }

}